body {
}

@media (max-width: 575px) {
    #Remarks {
        height: 4em
    }   
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    #FileUploadInfo {
        margin-top: .5em;
    }        
    
}

@media (min-width: 992px) {
}

.CustomTextBox {
    width: 100%;
    resize: none;
}
