body {
}

@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {

    #FileUploadInfo {
        margin-top: 3em;
    }
}

@media (min-width: 992px) {
    #ButtonContainer {
        right: 3vh;
    }    
}

#HTMLPrintBtn {
    background: none;
    border: none;
    background-color: none;
}

.PreviewFrame {
    margin-top: 10px;
}

iframe {
    width: 100%;
    margin-top: 10px;
}
