body {
}

@media (max-width: 575px) {
    #ButtonContainer {
        display: none;
    }

    .iconBackNextButton{
        font-size : 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #FileUploadInfo {
        margin-top: 3em;
    }

    #ButtonContainer {
        display: none;
    }

    #ForSmallScrenSignature {
        display: none;
    }

    .iconBackNextButton {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #FileUploadInfo {
        margin-top: 3em;
    }

    #HTMLButtonContainer {
        display: none;
    }

    #ButtonContainer {
        right: 3vh;
    }

    #ForSmallScrenSignature {
        display: none;
    }

    .iconBackNextButton {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    #HTMLButtonContainer {
        display: none;
    }

    #ForSmallScrenSignature {
        display: none;
    }

    #ButtonContainer {
        right: 12vh;
        display: inline-block
    }
}

#HtmlSaveBtn {
    background-color: none;
    border: none;
    background: none;
}

#iPrintBtn, #HTMLBackBtn, #HTMLNextBtn, #HtmlSaveBtn {
    font-size: 18px;
}

#PrintBtn, #NextBtn, #SaveCloseBtn {
    display: inline-block;
    background-color: #409B3C;
    color: white;
    border-radius: 2em;
    border: none;
    width: 150px;
    padding: .3em;
}

#ButtonContainer, #HTMLButtonContainer {
    text-align: right;
    position: fixed;
    bottom: 1em;
}

i {
    background-color: none;
    border: none;
    background: none;
    color: #6D6E72;
}

.BackNextButtons {
    display: inline-block;
    background-color: #409B3C;
    color: white;
    border-radius: 2em;
    border: none;
    width: 150px;
    padding: .3em;
    bottom: 1em;
}

.iconBackNextButton {
    background-color: none;
    border: none;
    background: none;
    bottom: 1em;
    padding-right: .5em;
}


